
.btn {
    width: 6.5em;
    height: 3.3em;
    margin: 0.5em;
    background: #000000;
    color: white;
    border: none;
    border-radius: 0.500em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 1px 1px 20px rgb(202, 189, 189);


   }
   
.btn:hover {
    color: black;
   }
   
.btn:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
.btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }
.box{
    width: 200px;
    height: 250px;
    transition: transform 5s ease;
    :hover {
      transform:translateY(-20px);
    }
    
  
}
.font{
    font-family: fangsong;
    font-size: 30px;
    position: relative;
    left: 64px;
    top: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.headt{
    font-size: 30px;
    position: relative;
    left: 56px;
    top: 51px;
    font-weight: bold;
    color: rgb(0, 0, 0);

    
}
.headtext{
    margin-left:24%;
    padding-top:56px;
    text-transform: uppercase;
    color: #fff;
    font-size: 35px;
    letter-spacing: 8px;
    text-shadow: 0 0 10px rgb(100, 96, 96),
    0 0 20px rgb(105, 175, 184),
    0 0 40px rgb(105, 175, 184),
    0 0 80px rgb(105, 175, 184);


}
.anima{
    width: 100%;
    height: 700px;
    background-size: 100% 100%;
    animation: bganimation 10s linear infinite;
}
@keyframes  bganimation{
    0% {background-image: url("https://plus.unsplash.com/premium_photo-1697730310113-e44fced8e86c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");}
    30% {background-image: url("https://images.unsplash.com/photo-1648132284697-0e9a0c1a9e80?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");}
    60% {background-image: url("https://images.unsplash.com/photo-1624554305378-0f440dd3a8c1?q=80&w=2025&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");}
    100% {background-image: url("https://images.unsplash.com/photo-1668521546474-607df6f96ff0?q=80&w=1776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");}
    }
    /* .last{
        top: 15px;
        font-size: 25px;
        font-weight: bold;
        font-style: italic;
        position: relative;
        left: 38%;
    } */

    /* .material-symbols-outlined{
        top: 73px;
        position: relative;
        left: 35%;
    } */

    .imgfot{
        width: 100%;
        height: 300px;
    }
    .line{
margin-left: 350px;
    }
  .nav{
    width: 100%;
    height: 87px;
    background-color: rgb(174 221 219);
  }
  .drop{
    position: relative;
    left: 587px;
    top:10px;
}
.imge{
    width: 100px;
    height: 100px;
   position: relative;
   left: 49px;
   mix-blend-mode: multiply;
}
.headd{
    color: aliceblue;
    top: 9px;
    font-size: 59px;
    font-family: auto;
    position: relative;
    left: 341px;
    text-shadow: 0 0 10px rgb(93, 75, 194),
    0 0 20px rgb(149, 202, 209),
    0 0 40px rgb(105, 175, 184),
    0 0 80px rgb(105, 175, 184);

}
