.pfo{
    padding-top: 6px;
    padding-left: 11px;
    width: 146px;
    height: 43px;
    font-size: 30px;
    font-weight: bold;
  color: #2986db;
  text-shadow: 2px 0px 3px #000000;
   
    margin-top: -36px;
    margin-left: 89px;
    border-radius: 7px;
}


.name2{



    font-family: math;
 
    color: #9d0a0a;
}
.email{


    font-family: math;
  

    color: #9d0a0a;

}


.mob1{
 
    font-family: math;
  
    color: #9d0a0a;
}

.place1{
 
    font-family: math;

    color: #9d0a0a;
}

.age1{

    font-family: math;

    color: #9d0a0a;
}
.edit{
    box-shadow: 0px 0px 5px #486895;
    border-radius: 4px;
 
    background-color: #2986db;
  

    font-family: "math";
}
.delt{
 
    border-radius: 4px;
 
    background-color: #2986db;
  

    font-family: "math";
}
.hai{

    border-radius: 4px;
 
    background-color: #2986db;
  

    font-family: "math";
}