.gap{
    width: 440px;
}
.nam{
    margin-left: 78px;
    color: aliceblue;
}
.leg{
    padding-bottom: 31px;
    color: aliceblue;
    margin-left: 50px;
    font-family: "math";
}
.upbtn{
    margin-left: 122px;
    border-radius: 8px;
    background-color: deepskyblue;
    width: 110px;
    height: 28px;
    margin-top: -34px;
    cursor: pointer;
    box-shadow: 0px 0px 4px #abb8cc;
    border-radius: 4px;
    font-family: "math";
}
.fil{
    padding-bottom: 36px;
}
